<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Registration</title>

    <style>
        body{
            background-color: #dbdbdb;
            margin-top: 10%;
        }
        fieldset{
            width: 500px;
            margin:auto;
            font-size: xx-large;
            background-color: white;
            border-radius: 20px;
            border: 0px;
            box-shadow: 0 6px 15px rgb(0 0 0 / 0.2);
        }
        input{
            border-radius: 20px;
            font-size: x-large;
            padding-left: 10px;
        }
        button{
            border-radius: 20px;
            font-size: large;
            padding-left: 10px; 
        }
        #username-error {
            color: red;
        }

        table,
        th {
            border: 1px solid black;
            margin: auto;
        }

        td {
            border: 1px dotted black;
        }

        .navigation,
        h1 {
            text-align: center;
            margin-top: 10px;
        }

        .container {
            margin: auto;
            width: 75%;
        }
    </style>
</head>

<body>
    <h1>Create a User Account</h1>
    <form action="/register" method="POST">
        <fieldset>
            <button><a href="/">Back</a></button>
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter a username">
                <span id="username-error">
                    <% if(usernameError.length > 0) { %>
                    Error: <%= usernameError %>
                    <% } %>
                </span>
            </p>

            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter a password">
            </p>
            <p>
                <label for="passwordConf">Confirm Password</label>
                <input type="password" name="passwordConf" id="passwordConf" placeholder="Retype Password">
            </p>

            <input type="submit" value="Register">
        </fieldset>
    </form>
</body>

</html>